<!DOCTYPE html>
<html lang="en">
    {{!-- header --}}
    {{> head}}

    <body class="container">
        {{!-- navbar --}}
        {{>navbar}}

        {{!-- body --}}
        {{{body}}}
        
        {{!-- footer --}}
        {{> footer}}
    </body>
</html>